.explorer{
    width:45%;
    height:45%;
    background-color:white;
    box-shadow: #00000080 0px 2px 20px 2px;
    position: absolute;
    top:35%;
    left:35%;
    border-radius: 4px;
    z-index: 15;
}
.explorer-head{
    height: 90px;
    position: relative;
    background-color:#e0dfdf;
    border-radius: 4px 4px 0 0;
    user-select: none;
}
.explorer-controls{
    margin:0;
    padding:0;
    list-style: none;
    position: absolute;
    right:0;
    top:0;
}
.explorer-controls li{
    color:#b9b9b9;
    display:inline-block;
    font-weight:bolder;
    font-size:16px;
    text-align:center;
    padding:5px 5px;
    margin:0 5px;
    cursor:pointer;
}
.explorer-title{
    margin:0;
    padding:0;
    text-align:center;
    padding-top:10px;
    font-weight: 500;
    color:grey;
    font-size:14px;
}
.explorer-settings{
    margin:0;
    padding:0;
    list-style: none;
}
.explorer-settings li{
    display:inline-block;
}
.explorer-settings-label{
    margin:0;
    padding:0;
    font-weight:lighter;
    color:#4a4848;
    font-size:13px;
    letter-spacing:0.3px;
    padding:7px;
    width:fit-content;
}
.explorer-settings-label-selected{
    color:white;
    background-color:#75a030bf;
}