.settings-dropdown{
    margin:0;
    padding: 5px 0px;
    list-style: none;
    background-color:white;
    box-shadow: black 0px 0 15px -7px;
    border:1px solid #00000021;
    border-radius:1px;
}
.settings-dropdown li{
    display:block;
    font-size:11px;
    padding:5px 0;
}
.settings-dropdown li:hover{
    background-color:#75a030bf;
}
.settings-dropdown li:hover .settings-dropdown-title,.settings-dropdown li:hover .settings-dropdown-shortcut{
    color:white;
}
.settings-dropdown-shortcut,.settings-dropdown-title{
    margin:0;
    padding:0;
    font-weight:400;
    display:inline-block;  
}
.settings-dropdown-title{
    padding-left:25px;
    color:#333333;
}
.settings-dropdown-shortcut{
    float:right;
    padding:0 7px 0 40px;
    font-weight:lighter;
    color:grey;
}