#Footer{
    width: 100%;
    height: 2.2em;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #343434;
    border-radius: 0px;
    border-top: 2px solid #1f1d1d;
    box-shadow: inset #aba2a2 -3px 1px 22px -10px;
}
.nav{
    margin:0;
    padding:0;
    height:100%;
    display: flex;
    float:left;
}
.nav-item{
    height:100%; 
    width: fit-content;
    display: inline-flex;
    cursor: pointer;
    margin-right:6px;
    user-select: none;
}
.nav-item:nth-child(3){
    margin-left:5px;
}
.nav-item-icon{
    width:23px;
    height:25px;
    padding:3px 3px;
    display: inline-flex;
}
.nav-item-app-icon{
    width:30px;
    height: 30px;
    padding: 2px 0px;
    display: inline-flex;
}
.nav-item-app-icon:hover,.nav-item-icon:hover{
    box-shadow: inset snow 0px -6px 22px -12px;
    border-bottom:1px solid #fffafa85;
}
.nav-item-text{
    font-size:12px;
    color:lightgrey;
    margin:0;
    padding:0;
    top:9.2px;
    position: relative;
    display: inline-flex;
    user-select: none;
}

.footer-windows{
    float: left;
    width: fit-content;
    height: 100%;
    margin: 0 0 0 25px;
    padding: 0;
    list-style: none;
    user-select: none;
}
.selected-footer-window{
    box-shadow:inset 0px 39px 50px -16px #bdbdbd99!important;
}
.footer-windows li{
    display: inline-block;
    margin: 0 1px;
    background-color: #353535;
    box-shadow: inset 0px 0px 65px -2px #ffffff45;
    border-radius: 3px;
    width: 160px;
    height:100%;
    user-select: none;
    cursor: pointer;
}
.footer-windows li h3, .footer-windows li img{
    display:inline-block;
    vertical-align: middle;
    user-select: none;
}
.footer-windows li h3{
    color:snow;
    font-weight:normal;
    margin:5px 0 0 0;
    padding:0;
    font-size:13px;
    max-width: 117px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}
.footer-windows li img{
    width: 25px;
    height: 25px;
    margin: 5px 5px 0 8px;
}