#HomeScreen{
    width:100%;
    height: 96.6%;
    background-size: cover;
    background-position: center;
    position: relative;
}
#selectBox{
    border:1px solid #8db749;
    z-index:3;
    background-color:rgba(163, 191, 135, 0.27);
}
.hideBox{
    animation: boxFadeOut 0.55s forwards ease;
}
.shortcut-wrapper{
    height:90%;
    width:fit-content;
    margin: 0 0 0 75px;
    display: inline-block;
    z-index: 5;
}
.shortcut-wrapper .medium-icon{
    margin:25px 0 25px 0;
}
@keyframes boxFadeOut{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 0;
        width:unset;
        height: unset;
    }
    100%{
        border:none;
        background-color:transparent;
        width:0!important;
        height:0!important;
    }
}