#HomeScreen{
    width:100%;
    height: 96.6%;
    background-size: cover;
    background-position: center;
    position: relative;
}
#selectBox{
    border:1px solid #8db749;
    z-index:3;
    background-color:rgba(163, 191, 135, 0.27);
}
.hideBox{
    animation: boxFadeOut 0.2s forwards ease;
}

@keyframes boxFadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}