.text-viewer-head{
    height:36px!important;
}
.text-viewer-body{
    position: relative;
    width:100%;
    height:calc(100% - 36px);
}
.text-viewer-content{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 16px 1px 16px;
    margin: 0;
    word-wrap: break-word;
}